---
const ogDescription = 'Ayuda para la familia de Luis, con despensas y jugetes para sus hijos'
const ogURL = Astro.site?.toString() ?? "https://lift-donations.web.app";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content=`${ogURL}/ogImage.jpg` />
		<meta property="og:title" content="Lift Donaciones" />
		<meta property="og:description" content={ogDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={ogURL} />
		<meta name="twitter:card" content={ogDescription} />
		<meta name="twitter:image" content=`${ogURL}/ogImage.jpg` />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.min.css" />
		<link rel="stylesheet" href="https://alexestudio86.github.io/ValCSS/css/valCSS.reset.css" />
		<link rel="stylesheet" href="/styles/template.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Lift Apoyo</title>
	</head>
	<body>
		<slot />
	</body>
</html>