---
const ogDescription = 'Aviso de privacidad Lift Apoyo';
const ogURL = Astro.site?.toString() ?? "https://lift-donations.web.app";
const { hideCookies = false } = Astro.props;
import CookieBanner from "../components/general/CookieBanner.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:image" content=`${ogURL}/ogImage.jpg` />
		<meta property="og:title" content="Lift Donaciones" />
		<meta property="og:description" content={ogDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={ogURL} />
		<meta name="twitter:card" content={ogDescription} />
		<meta name="twitter:image" content=`${ogURL}/ogImage.jpg` />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.min.css" />
		<link rel="stylesheet" href="https://alexestudio86.github.io/ValCSS/css/valCSS.reset.css" />
		<link rel="stylesheet" href="/styles/template.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Lift Apoyo | Aviso de Privacidad</title>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag() { dataLayer.push(arguments); }
			gtag('consent', 'default', {
				'ad_user_data': 'denied',
				'ad_personalization': 'denied',
				'ad_storage': 'denied',
				'analytics_storage': 'denied',
				'wait_for_update': 500,
			});
			dataLayer.push({'gtm.start': new Date().getTime(), 'event': 'gtm.js'});
		</script>
	</head>
	<body>
		<slot />
		{!hideCookies && <CookieBanner />}
	</body>
</html>